<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head',{}); %>
        <%- include('nav',{}); %>
            <title>Document</title>
</head>

<body>
    <div class="layui-card" style="width: 1200px;margin-left: 10px;margin-top: 30px;">
        <div class="layui-card-body">
          <h2><b><%= data.title %></b></h2><br>
          <h6  style="color: darkgrey;"><%= data.datetime %></h6><br>
          <h4><%- data.content %> ​​​​
        </h4>
        </div>
      </div>
</body>
</html>