<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head',{}); %>
    <%- include('nav',{userName}); %>
      <title>Document</title>

</head>

<body>

  <table class="layui-table" lay-skin="line" style="width: 1200px;margin-left: 10px;">
    <colgroup>
      <col width="150">
      <col width="200">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>标题</th>
        <th>加入时间</th>
        <th>内容</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% data.blogList.map(item=>{
          %>
          <td>
            <a href="/details?_id=<%= item._id%>"><%= item.title %></a>
          </td>
          <td>
            <a href="/details_id=<%= item._id%>"><%= item.datetime %></a>
            
          </td>
          <td>
            <a href="/details_id=<%= item._id%>"><%- item.content %></a>
            
          </td>
          <td>
            <a href="/xie?_id=<%=item._id%>&page=<%=data.currPage%>">
              <i class="layui-icon layui-icon-edit"></i>
              编辑
            </a>
            <a href="">
              <i class="layui-icon layui-icon-delete"></i>
              删除
            </a>
          </td>

      </tr>
      <% }) %>

    </tbody>
  </table>
  <div style="text-align: center;">
    <span>
      <% for(let i=1;i <=data.pagesTotle;i++){ %>

        <a href="/?page=<%=i%>" style="color: #00B7FF;">
          <%= i %>
        </a>

        <%}%>
    </span>
    <!-- <span class="layui-badge layui-bg-blue"><a href="">2</a></span>
    <span class="layui-badge layui-bg-blue"><a href="">3</a></span>
    <span class="layui-badge layui-bg-blue"><a href="">4</a></span>
    <span class="layui-badge layui-bg-blue"><a href="">5</a></span> -->


  </div>

</body>

</html>