<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head',{}); %>
    <%- include('nav',{userName}); %>
      <title>Document</title>
</head>

<body>
  <table class="layui-table" lay-skin="line" style="width: 1000px;margin-left: 100px;">
    <colgroup>
      <col width="150">
      <col width="200">
      <col>
    </colgroup>
    <thead >
      <tr>
        <th>标题</th>
        <th>加入时间</th>
        <th>内容</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% data.map(item=>{
          %>
        <td><%= item.title %></td>
        <td><%= item.datetime %></td>
        <td><%= item.content %></td>
        <td>
          <a href="http://www.layui.com">
            <i class="layui-icon layui-icon-edit"></i>
            修改
          </a>
          <a href="http://www.layui.com">
            <i class="layui-icon layui-icon-delete"></i>
            删除
          </a>
        </td>
        
      </tr>
      <% }) %>
     
    </tbody>
  </table>
</body>

</html>